# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
.venv/
env/
venv/
*.env

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# VSCode or IDE folders
.vscode/
.idea/

# Uvicorn reload cache
*.pid
